header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.logo-container a {
  display: block;
  height: 100%;
}

.logo-container img {
  max-height: 100%;
  max-width: 100%;
}
